:root {
	--neutral_white: 255, 255, 255;
	--neutral_black: 0, 0, 0;
	--neutral_grey: 251, 252, 253;
	--neutral_blue: 47, 140, 255;
	--neutral_red: 174, 10, 10;

	--blue_10: 47, 100, 255;
	--blue_20: 18, 83, 162;

	--grey_5: 204, 204, 204;
	--grey_10: 138, 138, 138;
	--grey_20: 28, 39, 52;
	--grey_30: 192, 192, 192;
	--grey_40: 166, 183, 212;
	--grey_50: 238, 239, 241;
	--grey_60: 143, 143, 143;

	--white_10: 246, 245, 243;

	--black_10: 22, 22, 22;
}
