@import './reset';
@import './variables/colors';
@import './variables/mixins';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1 {
	font-family: 'MyriadPro', sans-serif;
	@include font30();
}
body {
	font-family: 'MyriadPro', sans-serif;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.sidebar {
	padding-right: 229px;
	@media (max-width: 768px) {
		padding-right: 0;
	}
}
.page {
	background: rgb(var(--neutral_grey));
	display: flex;
}
.page-layout {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 25px;
	@media (max-width: 768px) {
		padding: 16px 10px;
	}
}
.page-content {
	display: flex;
	flex-direction: column;
	gap: 25px;
}
